<launch>
    <!-- Initial bringup launch files -->
    <include file="$(find move_turtlebot)/launch/minimal.launch"/>
    <include file="$(find vision)/launch/localization.launch">
        <arg name="map_file" value="$(find vision)/maps/robot_lab2.yaml"/>
    </include>
    <include file="$(find move_turtlebot)/launch/move_base.launch"/>

</launch>
