<launch>
  <!-- Move base -->
  <arg name="custom_param_file" default="$(find move_turtlebot)/param/kinect_costmap_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
</launch>
