<!-- Entrypoint for our setup and config of move base, the turtlebot navigation stack -->
<launch>
  <!-- Move base -->
  <arg name="custom_param_file" default="$(find move_turtlebot)/param/kinect_costmap_params.yaml"/>
  <include file="$(find move_turtlebot)/launch/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
</launch>
