<!--
Starts the AMCL localization stack to perform particle filter localization
of the robot.

Takes in a known map file through the argument `map_file`

Outputs the inferred pose to `/amcl_pose` topic
-->

<launch>
  <!-- SENSOR NODE PACKAGE - 3D sensor -->
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->

  <include file="$(find vision)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    
    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 --> 
    <arg name="scan_topic" value="scan" />
  </include>

  <!-- Map server -->
  <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
	<param name="frame_id" value="$(env ROS_NAMESPACE)/map"/>
  </node>

  <!-- TF publisher for global map frame -->
  <node name="map_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map $(env ROS_NAMESPACE)/map 100" respawn="true" />

  <!-- AMCL localization -->
  <arg name="custom_amcl_launch_file" default="$(find vision)/launch/amcl.launch.xml"/>
  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Odom package setup by bringup -->
  <!-- Tf package setup by bringup -->
</launch>
