<launch>
	<arg name="filename" default="default"/>
	

	<arg name="map_file" default="$(find vision)/maps/robot_lab2.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="map"/>
	</node>



	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find path_planner)/rviz/set_pts.rviz"/>

	
	<node name="set_pts" type="set_pts.py" pkg="path_planner" output="screen">
		<param name="filename" value="$(arg filename)"/>
	</node>
</launch>