<launch>

    <arg name="leader"/>
    <arg name="follower"/>

    <include file="$(find path_planner)/launch/path_planner.launch"/>

    <include file="$(find move_turtlebot)/launch/state_machine.launch">
        <arg name="follower_name" value="$(arg follower)"/>
        <arg name="leader_name" value="$(arg leader)"/>
    </include>

    <include file="$(find vision)/launch/ar_tag_kinect_track.launch">
        <arg name="robot_name" value="$(arg follower)"/>
    </include>

</launch>
